@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* Dark & Light mode css */
  --clr-bg-dark: #1f2937; /* gray-800 */
  --clr-bg-light: #fafafa; /* zinc-50 */
  --clr-text-dark: #1f2937; /* gray-200 */
  --clr-text-light: #fafafa; /* zinc-50 */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.dark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-dark);
}

.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-light);
}

.Skills_wrapp_container{
  -webkit-box-sizing: border-box;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  box-sizing: border-box;
  width: 100%;
  padding-left: 10%; 
  padding-right: 10%;
  margin-top: 4.2rem;
}
.Skills_wrapp_container h1{
  text-align: center;
  color: #ffff; 
}

.main_sect_option{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item_skill{
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 81%;
  height: 12rem;
  background-color: #575050;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 5px;
  cursor: pointer;
}

.item_skill p{
  font-weight: 600;
}

#contact_btn{
  width: 100%;
background-color: #042c44;
}

.link-hover-animation {
  transition: color 0.3s ease, transform 0.3s ease;
}

.link-hover-animation:hover {
  color: #3b82f6; /* Tailwind's blue-500 */
  transform: scale(1.05);
}